doctype html
html(lang='en')
  head
    title Upload
    head
      title Poster
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css')

      style
        include /stylesheets/style.css
  body
    div
      form(action='/images/upload', method='post', enctype='multipart/form-data')
        input(type='text', name='name', value='001')
        input(type='file', name='images')
        input(type='submit', value='Enregistrer')
