doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Accueil
    link(rel='stylesheet', href='../stylesheets/style.css')
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='../stylesheets/bootstrap.min.css')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    link(rel='stylesheet', href='../css/demo.css')
    link(rel='stylesheet', href='css/footer-distributed-with-address-and-phones.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(href='http://fonts.googleapis.com/css?family=Cookie', rel='stylesheet', type='text/css')
  body
    // NAVBAR
    div
      nav.navbar.navbar-custom.navbar-fixed-top
        .container-fluid
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#item_nav', aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          // Collect the nav links, forms, and other content for toggling
          #item_nav.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='#') Accueil
              li
                a(href='/users/')
                  | Inscription
                  span.sr-only (current)
              li
                a(href='/users/information') A propos
              li
                a(href='/users/partenaire') Partenaires
              li#connexionright
                a(href='/users/connexion') Connexion
          // /.navbar-collapse
        // /.container-fluid
    // Fin de la navbar
    // Body
    #colordiv
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
    // FOOTER
    // The content of your page would go here.
    footer.footer-distributed.fixed-bot
      .footer-left
        h3
          | Step by
          span Step
        p.footer-links
          a(href='#') Accueil
            |             ·
            a(href='/users/') Inscription
            |             ·
            a(href='/users/partenaire') Partenaires
            |             ·
            a(href='/users/information') A propos
            |             ·
            a(href='/users/contact') Contact
        p.footer-company-name Step by Step © 2016
      .footer-center
        div
          i.fa.fa-map-marker
          p
            span 75020 Ecole Ynov
            |  Paris, France
        div
          i.fa.fa-phone
          p +33 6 89 89 89 89
        div
          i.fa.fa-envelope
          p
            a(href='mailto:support@company.com') projet-prison@gmail.com
      .footer-right
        p.footer-company-about
          span A Propos de nous
          |             Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        .footer-icons
          a(href='#')
            i.fa.fa-facebook
          a(href='#')
            i.fa.fa-twitter
          a(href='#')
            i.fa.fa-linkedin
          a(href='#')
            i.fa.fa-github
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', integrity='sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==', crossorigin='anonymous')

